<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evidencija zaposlenih</title>
</head>
<body>

<div>
<p1>Number of employees: {{ total_emp }}</p1>
<p1>Number of active employees: {{ total_active }}</p1>
<p1>Number of inactive employees: {{ total_inactive }}</p1>
<p1>Number of departments: {{ total_dep }}</p1>
</div>

{#<a href="/employee_list/">Lista zaposlenih</a>#}
<a href="{% url 'emp_list' %}">List of employees</a>
<a href="{% url 'dep_list' %}">List of departments</a>
<a href="{% url 'create_emp' %}">Add new employee profile</a>
<a href="{% url 'logs' %}">Add employee attendance log</a>

</body>
</html>