{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Employee Records Dashboard</h2>
    <h3>Overview</h3>

    {% if user.is_authenticated %}

        <h3>Employee Management</h3>
{#<a href="/employee_list/">List of employees</a>#}
<p><a href="{% url 'emp_list' %}">List of employees</a></p>
<p><a href="{% url 'dep_list' %}">List of departments</a></p>
<p><a href="{% url 'create_emp' %}">Add new employee profile</a></p>
<p><a href="{% url 'logs' %}">Add employee attendance log</a></p>

        {% else %}

<div>
    <ul>
        <li>Number of employees: <strong>{{ total_emp }}</strong></li>
        <li>Active employees: <strong>{{ total_active }}</strong></li>
        <li>Inactive employees: <strong>{{ total_inactive }}</strong></li>
        <li>Number of departments: <strong>{{ total_dep }}</strong></li>
    </ul>
</div>

    {% endif %}

{% endblock %}
