{% extends 'base.html' %}
{% block title %}Log form{% endblock %}

{% block content %}
    <h1>Add Attendance Log</h1>
    <p>
<form method="POST">
{% csrf_token %}
 <label >Choose Employee</label>
    <select name="empl">
        {% for employee in employees  %}
        <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}
        </option>
        {% endfor %}
    </select>
</p>

    <p>
        <label>Date:</label>
        <input type="date" name="date">
    </p>

    <p>
        <label>Clock in:</label>
        <input type="time" name="clock_in">
    </p>

    <p>
        <label>Clock out:</label>
        <input type="time" name="clock_out">
    </p>

    </form>
{% endblock %}